main {
  padding-top: 20px;
  font-size: 0;

}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}
nav{
	background-color: orange;
	padding: 20px;
	font-size: 30px;
}
.textbox{

	border: 1px solid lightgrey;
	font-size: 15px;
	padding: 15px;
width: 170px;
	height:60px;
	display: inline-block;
}
.des{
	font-size:10px;
}